<div class="grammar-game-container no-margin-p">
  <div class="d-flex justify-content-center align-items-center" id="loading-element" style="height: 80vh;">
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
      <div class="wheel"></div>
      <div class="hamster">
        <div class="hamster__body">
          <div class="hamster__head">
            <div class="hamster__ear"></div>
            <div class="hamster__eye"></div>
            <div class="hamster__nose"></div>
          </div>
          <div class="hamster__limb hamster__limb--fr"></div>
          <div class="hamster__limb hamster__limb--fl"></div>
          <div class="hamster__limb hamster__limb--br"></div>
          <div class="hamster__limb hamster__limb--bl"></div>
          <div class="hamster__tail"></div>
        </div>
      </div>
      <div class="spoke"></div>
    </div>
  </div>
  <div id="game-element" class="d-none">
    <div>
      <%= image_tag "grammar_game_level_up_clear.png", width: "100px", height: "100px", class: "grammar-game-level-up" %>
    </div>
    <div>
      <%= image_tag "grammar_game_broken_sword.png", width: "100px", height: "100px", class: "grammar-game-broken-sword" %>
    </div>
    <div class="sun-container">
      <div class="cloud front">
        <span class="left-front"></span>
        <span class="right-front"></span>
      </div>
      <span class="sun sunshine"></span>
      <span class="sun"></span>
      <div class="cloud back-grammar-game">
        <span class="left-back"></span>
        <span class="right-back"></span>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center my-4">
      <div class="d-flex align-items-center me-3">
        <p id="grammar-game-xp-plus" class="d-none">+</p>
        <p class="mx-1 text-white" id="grammar-game-xp-number-sum"></p>
        <p class="me-1 text-white grammar-game-xp-number">0</p>
        <%= image_tag "grammar_game_experience_bar", height: "40px", width: "40px", class: "grammar-game-experience-bar-img" %>
      </div>
      <div class="progress-container">
        <div id="progress-bar">
          <div id="current-progress-bar"></div>
        </div>
      </div>
      <div class="ms-3">
        <%= link_to student_challenges_path, data: { confirm: 'Are you sure? You may lose all your progress.' } do %>
          <%= image_tag "close.png", width: "20px", height: "20px", class: "grammar-game-close-btn" %>
        <% end %>
      </div>
    </div>
    <h2 class="text-center mt-3" style="color:white">Form the Correct Sentence</h2>
    <div class="container d-flex justify-content-center mt-3" style="height: 550px; width: 1000px;"><%=  %>
      <div class="m-3" data-controller="grammar-game" data-value-submission-id="<%= @submission_id %>" data-value-game-id="<%= @game_id %>" data-value-key="<%= @api_key %>" data-value-words-array="<%= @words_array.to_json %>" data-value-audio-success="<%= audio_path("success.wav") %>" data-value-audio-fail="<%= audio_path("fail.wav") %>">
        <div class="mx-2 d-flex flex-wrap justify-content-start align-items-center border p-2 answers-container" data-grammar-game-target="answerElement">
        </div>
        <div class="mx-2 d-flex flex-wrap justify-content-start options-container" data-grammar-game-target="optionElement">
        </div>
        <div class="d-flex align-items-center border-top botton-box-grammar-game" data-grammar-game-target="buttonElement">
          <img id="dynamic-image" src="<%= asset_path('grammar_game_ninja_rank_1.png') %>" alt="Dynamic Image" />
        </div>
      </div>
    </div>
  </div>
</div>