<style>
  .game-container * {
    box-sizing: border-box;
  }

  .game-container #user-score {
    color: white;
    font-size: 3.5em; /* Slightly increased font size */
    margin-bottom: 55px; /* Slightly increased margin */
  }

  .game-container button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3em; /* Slightly increased font size */
  }

  .game-container .start-screen,
  .game-container .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-container #start-button,
  .game-container #restart {
    color: white;
    background-color: #9873fe;
    position: absolute;
    font-size: 1.5em; /* Slightly increased font size */
    padding: 1.2em 3.5em; /* Slightly increased padding */
    border-radius: 2em; /* Slightly increased border radius */
    box-shadow: 0 1.2em 3.5em rgba(37, 22, 80, 0.3); /* Slightly increased shadow */
  }

  .game-container .flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .game-container .flex {
    display: flex;
  }

  .game-container #display-container {
    position: absolute;
    width: 92%; /* Slightly increased width */
    max-width: 40em; /* Slightly increased max width */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2em 2em; /* Slightly increased padding */
    border-radius: 0.9em; /* Slightly increased border radius */
  }

  .game-container .header {
    padding: 0.75em; /* Slightly increased padding */
    border-bottom: 1px solid #c8c5d1;
  }

  .game-container .header .title,
  .game-container .timer span {
    font-weight: 600;
  }

  .game-container .timer {
    padding-bottom: 16px;
  }

  .game-container .question-word {
    font-size: 2.5em; /* Slightly increased font size */
    text-align: center;
  }

  .game-container #container {
    margin-bottom: 1.5em; /* Slightly increased margin */
  }

  .game-container .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.2em; /* Slightly increased gap */
    place-items: center;
  }

  .game-container .option-div {
    width: 100%;
    height: 9em; /* Slightly increased height */
    padding: 1.2em; /* Slightly increased padding */
    margin: 0.4em 0; /* Slightly increased margin */
    text-align: center;
    border-radius: 0.6em; /* Slightly increased border radius */
    position: relative;
    z-index: 1;
  }

  .game-container .option-div .emoji {
    font-size: 3.5em; /* Slightly increased emoji font size */
    display: inline-block;
    transform: scale(1.3); /* Slightly increased scale */
    transition: transform 0.2s;
    z-index: 1;
  }

  .game-container .option-div:disabled {
    cursor: not-allowed;
  }

  .game-container .option-div:hover,
  .game-container .option-div:hover::after {
    opacity: 1;
  }

  .game-container .option-div:hover:not(.correct):not(.incorrect) {
    background-color: #FCD74A;
  }

  .game-container .correct {
    background: url("/assets/correct.svg");
    background-color: rgba(144, 238, 144, 0.5);
    z-index: 2;
  }

  .game-container .incorrect {
    background: url("/assets/incorrect.svg");
    background-color: rgba(255, 99, 71, 0.5);
    z-index: 2;
  }

  .game-container .correct::after {
    background-image: url("/assets/correct.svg");
  }

  .game-container .incorrect::after {
    background-image: url("/assets/incorrect.svg");
  }

  .game-container .correct::after, .game-container .incorrect::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 2.5em; /* Slightly increased size */
    height: 2.5em; /* Slightly increased size */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }

  .game-container .correct,
  .game-container .incorrect {
    background-repeat: no-repeat;
    background-size: 0em;
    background-position: center;
    z-index: 2;
  }

  .game-container #next-button {
    font-size: 1.2em; /* Slightly increased font size */
    background-color: #9873fe;
    color: #ffffff;
    padding: 0.5em 2.2em; /* Slightly increased padding */
    border-radius: 0.35em; /* Slightly increased border radius */
  }

  .game-container #display-container.hide,
  .game-container .hide {
    display: none;
  }

  .game-container #restart {
    margin-top: 7em; /* Slightly increased margin */
  }

  .number-of-questions {
    padding: 0.75em;
    font-size: 1.2em;
  }

  .highlighted {
    background-color: #FCD74A; /* Light grey background */
  }

  /* Add this to your CSS file */
  .correct-answer {
    background-color: rgba(144, 238, 144, 0.5); /* Light green background */
    border: 2px solid #c3e6cb; /* Green border */
    color: #155724; /* Dark green text */
  }

  .incorrect-answer {
    background-color: rgba(255, 99, 71, 0.5); /* Light red background */
    border: 2px solid #f5c6cb; /* Red border */
    color: #721c24; /* Dark red text */
  }

  .disabled {
  	pointer-events: none;
  	opacity: 1;
  }
</style>
<div class="game-container">
  <div class="vocab-game-container no-margin-p">
    <div class="d-flex justify-content-center align-items-center" id="loading-element" style="height: 80vh;">
      <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
          <div class="hamster__body">
            <div class="hamster__head">
              <div class="hamster__ear"></div>
              <div class="hamster__eye"></div>
              <div class="hamster__nose"></div>
            </div>
            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
          </div>
        </div>
        <div class="spoke"></div>
      </div>
    </div>
    <div class="level-pentagon-grammar-game">
      <div class="level-pentagon-title-grammar-game">
        <h1>LEVEL UP!</h1>
      </div>
      <div class="shuriken-grammar-game"></div>
      <div class="white-flash-grammar-game"></div>
      <p class="level-pentagon-number-grammar-game"><%= @level %></p>
    </div>
    <div id="game-element" class="d-none">
      <div>
        <%= image_tag "grammar_game_level_up_clear.png", width: "90px", height: "90px", class: "vocab-game-level-up" %>
      </div>
      <div>
        <%= image_tag "training.gif", width: "100px", height: "100px", class: "vocab-game-broken-sword" %>
      </div>
      <div class="sun-container">
        <div class="cloud front">
          <span class="left-front"></span>
          <span class="right-front"></span>
        </div>
        <span class="sun sunshine"></span>
        <span class="sun"></span>
        <div class="cloud back-vocab-game">
          <span class="left-back"></span>
          <span class="right-back"></span>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center my-4">
        <div class="d-flex align-items-center me-3">
          <p id="vocab-game-xp-plus" class="d-none">+</p>
          <p class="mx-1 text-white" id="vocab-game-xp-number-sum"></p>
          <p class="me-1 text-white vocab-game-xp-number">0</p>
          <%= image_tag "grammar_game_experience_bar.png", height: "40px", width: "40px", class: "vocab-game-experience-bar-img" %>
        </div>
        <div class="progress-container">
          <div id="progress-bar">
            <div id="current-progress-bar"></div>
          </div>
        </div>
        <div class="ms-3">
          <%= link_to student_challenges_path, data: {turbo_method: :get, turbo_confirm: 'Are you sure? You may lose all your progress.'} do %>
            <%= image_tag "close.png", width: "20px", height: "20px", class: "vocab-game-close-btn" %>
          <% end %>
        </div>
      </div>
      <h2 class="text-center mt-3" style="color:white" data-vocab-game-target="questionWord">Choose The Correct Word</h2>
      <div class="container d-flex justify-content-center mt-3" style="height: 550px; width: 1000px;"><%=  %>
        <div class="m-3" data-controller="vocab-game" data-value-submission-id="<%= @submission_id %>" data-value-game-id="<%= @game_id %>" data-value-key="<%= @api_key %>" data-value-words-array="<%= @words_array.to_json %>" data-value-audio-success="<%= audio_path("success.wav") %>" data-value-audio-fail="<%= audio_path("fail.wav") %> "data-value-audio-cut="<%= audio_path("cut.mp3") %>" data-value-level-number="<%= @level %>" data-value-experience="<%= @experience  %>">
          <div class="div" data-vocab-game-target="answerElement">
          </div>
          <div class="button-container options-container" data-vocab-game-target="optionElement">
          </div>
          <div class="d-flex align-items-center border-top botton-box-vocab-game" data-vocab-game-target="buttonElement">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
