<%# ERRORS DIV %>
<% if @ai_response && @ai_response["errors"] %>
  <%# ERRORS COUNT %>
  <% error_counts = @ai_response["errors"].each_with_object(Hash.new(0)) do |error, counts| %>
    <% counts[error["type"]] += 1 %>
  <% end %>
  <%# Group errors by type and render one button per type %>
  <% grouped_errors = @ai_response["errors"].group_by { |error| error["type"] || 'unknown' } %>
  <% grouped_errors.each do |error_type, errors| %>
    <% case error_type.downcase
        when "style"
          button_class = "btn-outline-info"
          badge_class = "bg-info"
        when "punctuation"
          button_class = "btn-outline-info"
          badge_class = "bg-info"
        else
          button_class = "btn-outline-danger"
          badge_class = "bg-danger"
        end %>
    <button 
      type="button" 
      class="btn <%= button_class %> rounded-5 py-1 mb-2 d-flex justify-content-between align-items-center" 
      style="min-width: 200px;" 
      data-card-show-target="button" 
      data-id="<%= error_type.downcase %>"
      data-action="click->card-show#toggleCard"
      >
      <span><%= error_type %></span>
      <span class="badge <%= badge_class %>"><%= error_counts[error_type] %></span>
    </button>
  <% end %>
<% else %>
  <p class="text-muted">No errors found</p>
<% end %>
