<div class="container challenge-directions-card p-4 rounded-5 bg-white">
  <h2 class="display-5"><%= @challenge.title %></h2>
  <p><%= @challenge.directions %></p>
</div>
<div class="container mt-4 p-2">
  <%= simple_form_for [:student, @challenge, @submission] do |f| %>
    <div class="submission-input">
      <%= f.input :content, as: :text, label: 'Answer:', input_html: { style: 'min-height: 40vh;', placeholder: 'Type here...' } %>
      <div class="text-end"><%= f.button :submit, 'Submit Answer', class: 'btn btn-primary rounded-pill text-white' %></div>
    </div>
  <% end %>
</div>
