<div class="container-fluid p-2 bg-white mt-5 border border-light border-5 rounded-5" style="width:90%; min-height:80vh;">
  <div class="row justify-content-center">
    <div class="col-11">
      <h1 class="dark-gray">SENTEN<span class="yellow">SENSEI</span></h1>
    </div>
    <div class="col-11 d-flex gap-3" data-controller="card-show">
      <div class="col-9 d-flex flex-column align-items-center">
        <%# GRAMMAR COLUMN %>
        <div class="card my-5 submitted-text text-center">
          <div class="card-body">
            <div class="card-title display-6">
              " <%= @submission.content %> "
            </div>
          </div>
        </div>
        <div class="my-5 col-11" data-card-show-target="cardContainer">
          <%#THIS IS WHERE ERROR CARDS GET INPUTED WHEN BUTTONS ARE CLICKED%>
          <%# Group errors by type %>
          <% grouped_errors = @ai_response['errors'].group_by { |error| error['type'].downcase } %>
          <% grouped_errors.each do |type, errors| %>
            <div class="card embossed border-light d-none mt-3" id="error-card-<%= type %>">
              <div class="card-body position-relative">
                <button class="btn-close position-absolute top-0 end-0 m-4" aria-label="Close"></button>
                <% errors.each do |error| %>
                  <div class="error-item">
                    <p><%= error['type'] %></p>
                    <p><%= error['subcategory'] %></p>
                    <p><%= error['problematic_segment'] %></p>
                    <p><%= error['suggested_alternative'] %></p>
                    <hr>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-3 mt-2">
        <%# ERROR COLUMN %>
        <%= render "errors" %>
      </div>
    </div>
  </div>
</div>
<p class="container bg-dark text-white mt-5">AI RESPONSE:<%= @submission.ai_response %></p>
