<div class="container-fluid p-2 bg-white mt-5 border border-light border-5 rounded-5" style="width:90%; min-height:80vh;">
  <div class="row justify-content-center">
    <div class="col-11 d-flex gap-3">
      <div class="col-9">
        <%# GRAMMAR COLUMN %>
        <h1 class="dark-gray">SENTEN<span class="yellow">SENSEI</span></h1>
        <p>Challenge ID:<%= @submission.challenge_id %></p>
        <p>User ID:<%= @submission.user_id %></p>
        <p>Score:<%= @submission.score %></p>
        <p>Content:<%= @submission.content %></p>
      </div>
      <div class="col-3 border border-5">
        <%# ERROR COLUMN %>
      </div>
    </div>
  </div>
</div>
</div>
<p class="container bg-dark text-white mt-5">AI RESPONSE:<%= @submission.ai_response %></p>
