###We are in the student/controller show##
<div class="linear-background">
  <p>Challenge ID:<%= @submission.challenge_id %></p>
  <p>User ID:<%= @submission.user_id %></p>
  <p>Score:<%= @submission.score %></p>
  <p>Content:<%= @submission.content %></p>
  <p>AI RESPONSE:<%= @submission.ai_response %></p>
</div>