###We are in the student/controller index##
<h1><%= @student_classrooms %></h1>
<% @challenges.each do |challenge| %>
  <div class="container">
    <h1>Teacher:<%= challenge.user.first_name %></h1>
    <p>Unit: <%= challenge.unit.name %></p>
    <p>Classroom: <%= challenge.classroom.name %></p>
    <p>TITLE: <%= challenge.title %></p>
    <p>DIRECTIONS: <%= challenge.directions %></p>
    <p>DUE DATE: <%= challenge.due_date %></p>
  </div>
<% end %>