<div class="d-flex dashboard-container no-margin-p mx-3 pb-3" data-controller="dashboard">
  <div class="left-container-dashboard shadow d-flex flex-column justify-content-center border-end border-2 mr-auto me-2" >
    <div class="d-flex dashboard-text-container justify-content-center border-bottom m-3">
      <%= image_tag "dashboard.png", width: "30px", height: "30px" %>
      <div class="align-self-center ms-2">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="d-flex justify-content-center m-3">
      <%= link_to new_teacher_challenge_path do %>
        <button class="dashboard-btn-create">
          <div class="text-create-challenge"><span class="plus-create-challenge">+</span> Create</div>
        </button>
      <% end %>
    </div>
    <div>
      <% @classrooms.each do |classroom| %>
        <div class="classroom-container m-3 py-1 px-3 d-flex justify-content-center" data-action="click->dashboard#list" 
          data-first-name="<%= classroom.students.any? ? classroom.students.map(&:first_name).to_json : '[]' %>" 
          data-last-name="<%= classroom.students.any? ? classroom.students.map(&:last_name).to_json : '[]' %>">
          <p><%= classroom.name %></p>
          <div class= "ms-auto align-self-center">
            <%= image_tag "eng-flag.png", width: "20px", height: "20px" %>
          </div>
        </div>
      <% end %>
      <%= link_to teacher_challenges_path do %>
        <div class="classroom-container m-3 py-1 px-3 d-flex justify-content-center">
          <p style="color: black;">View All Challenges</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column right-container-dashboard">
    <div class="d-flex dashboard-first-row">
      <div class="d-flex ms-2 mb-2 shadow dashboard-profile-container p-3">
        <div class="d-flex flex-column justify-content-end dashboard-profile-text-container">
          <h2 class="fw-bold dashboard-profile-container-title">Hello, <%= current_user.first_name %></h2>
          <p>Ready to start the day training your little ninjas?</p>
        </div>
      </div>
    </div>
    <div class="d-flex dashboard-second-row">
      <div class="dashboard-student-list d-flex flex-column align-items-center mt-2 mx-2 shadow" data-dashboard-target="studentListElement">
        <div class="py-2 fw-bold border-bottom dashboard-student-list-top">
          <p class="text-center">All Students</p>
        </div>
        <% @students.each do |student| %>
          <div class="p-2 border-bottom">
            <p><%= student.first_name %> <%= student.last_name %></p>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-column dashboard-charts-container flex-grow-1 mt-2">
        <div class="d-flex">
          <div class="d-flex shadow align-items-center dashboard-student-profile-container flex-grow-1 flex-shrink-1 mx-2 mb-2 px-3 py-2">
            <%= image_tag "dashboard_student_profile.png", height: 30, width: 30, class:"me-2" %>
            <div>
              <p class="dashboard-text-media"><span class="text-primary"><%= @students.count %></span> Students</p>
            </div>
          </div>
          <div class="d-flex shadow align-items-center dashboard-feedback-profile-container flex-grow-1 flex-shrink-1 mx-2 mb-2 px-3 py-2">
            <%= image_tag "feedback.png", height: 30, width: 30, class: "me-2" %>
            <div>
              <p class="dashboard-text-media"><span class="text-danger"><%= @pending_feedbacks %></span> feedbacks pending</p>
            </div>
          </div>
          <div class="d-flex shadow align-items-center dashboard-challenges-assigned-container flex-grow-1 flex-shrink-1 mx-2 mb-2 px-3 py-2">
            <%= image_tag "challenge_icon.png", height: 30, width: 30, class:"me-2" %>
            <div>
              <p class="dashboard-text-media"><span class="text-primary"><%= @challenges.count %></span> Challenges Assigned</p>
            </div>
          </div>
          <div class="d-flex shadow align-items-center dashboard-missions-completed-container flex-grow-1 flex-shrink-1 ms-2 mb-2 px-3 py-2">
            <%= image_tag "target.png", height: 30, width: 30, class:"me-2" %>
            <div>
              <p class="dashboard-text-media"><span class="text-primary"><%= @missions_completed %></span> Missions Completed</p>
            </div>
          </div>
        </div>
        <div class="d-flex my-2">
          <div class="dashboard-bar-chart mx-2 shadow">
            <%= bar_chart([{
              name: 'Submission',
              data: @sentence_average_score
            },
            {
              name: 'Vocabulary',
              data: @vocab_average_score
            },
            {
              name: 'Spelling',
              data: @spelling_average_score
            },
            {
              name: 'Grammar',
              data: @grammar_average_score
            }],
            {
              theme: 'roma',
              height: '41vh',
              width: '31vw',
              options: {
                legend: {
                  data: ['Submission', 'Vocabulary', 'Spelling', 'Grammar'],
                  bottom: '15'
                },
                title: {
                text: 'Classroom Performance Overview',
                left: 'center',
                top: '15'
                },
                emphasis: {
                  focus: 'series'
                }
              }
            })%>
          </div>
          <div class="dashboard-bar-chart shadow ms-2">
            <%= line_chart([{
              name: 'Submission',
              data: @sentence_average_score_per_time
            },
            {
              name: 'Vocabulary',
              data: @vocab_average_score_per_time
            },
            {
              name: 'Spelling',
              data: @spelling_average_score_per_time
            },
            {
              name: 'Grammar',
              data: @grammar_average_score_per_time
            }],
            {
              theme: 'roma',
              height: '41vh',
              width: '31vw',
              options: {
                legend: {
                  data: ['Submission', 'Vocabulary', 'Spelling', 'Grammar'],
                  bottom: '15'
                },
                title: {
                  text: 'Student Performance Trend',
                  left: 'center',
                  top: '15'
                },
                emphasis: {
                  focus: 'series'
                }
              }
            })%>
          </div>
        </div>
        <div class="d-flex flex-grow-1 justify-content-center mt-2 w-auto">
          <div class="dashboard-pie-card d-flex flex-column flex-grow-1 flex-shrink-1 shadow mx-2 ps-1 align-items-center">
            <p class="dashboard-pie-container-text pt-2">Submission Progress</p>
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
              <div class="pie" style="--p:<%= @submissions_ratio %>; --c:#9ECF8E;"> <%= @submissions_ratio.to_i %>%</div>
            </div>
          </div>
          <div class="dashboard-pie-card d-flex flex-column flex-grow-1 flex-shrink-1 shadow mx-2 ps-1 align-items-center">
            <p class="dashboard-pie-container-text pt-2">Grammar Progress</p>
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
              <div class="pie" style="--p:<%= @games_grammar_ratio %>; --c:#5470C6;"> <%= @games_grammar_ratio.to_i %>%</div>
            </div>
          </div>
          <div class="dashboard-pie-card d-flex flex-column flex-grow-1 flex-shrink-1 shadow mx-2 ps-1 align-items-center">
            <p class="dashboard-pie-container-text pt-2">Spelling Progress</p>
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
              <div class="pie" style="--p:<%= @games_spelling_ratio %>; --c:#FAC858;"> <%= @games_spelling_ratio.to_i %>%</div>
            </div>
          </div>
          <div class="dashboard-pie-card d-flex flex-column flex-grow-1 flex-shrink-1 shadow ms-2 ps-1 align-items-center">
            <p class="dashboard-pie-container-text pt-2">Vocabulary Progress</p>
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
              <div class="pie" style="--p:<%= @games_vocabulary_ratio %>; --c:#EE6666;"> <%= @games_vocabulary_ratio.to_i %>%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>