<div class="container">
  <div class="text-center mb-4">
    <%= image_tag("https://res.cloudinary.com/ddzvfukq6/image/upload/v1723633517/D_-JO_jzleqd.png", alt: "dojo title text", style: 'max-width: 500px;') %>
    <p class="mb-4">Welcome to the <strong>Do-jo</strong>, where learning meets innovation! This platform is designed to ignite curiosity and foster language skill development through engaging, interactive challenges. Whether you're looking to test your students' knowledge, refine their skills, or compete with peers, Do-jo offers a dynamic environment to push limits and achieve your goals. Join us in transforming education into an exciting adventure and unlock your full potential here in our Do-jo!</p>
    <%= link_to "Create New Challenge", new_teacher_challenge_path, class: 'btn-yellow', type: 'button' %>
  </div>
  <!-- NEW CODE -->
  <nav>
    <div class="nav justify-content-center nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">View All</button>
      <% unique_class = [] %>
      <% if @challenges.present? %>
        <% @challenges.each do |challenge| %>
          <% classroom_name = challenge.classroom.name %>
          <% safe_classroom_name = classroom_name.gsub(/\s+/, '-').gsub(/[^\w-]/, '') %>
          <% unless unique_class.include?(safe_classroom_name) %>
            <button class="nav-link" 
              id="nav-profile-tab-<%= safe_classroom_name %>" 
              data-bs-toggle="tab" 
              data-bs-target="#nav-profile-<%= safe_classroom_name %>" 
              type="button" 
              role="tab" 
              aria-controls="nav-profile-<%= safe_classroom_name %>" 
              aria-selected="false"
              class="yellow">
              <%= classroom_name %>
            </button>
            <% unique_class.push(safe_classroom_name) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <div class="row row-cols-1 row-cols-md-4 g-4 my-5">
        <!-- Content for "View All" tab -->
        <% @challenges.each do |challenge| %>
          <div class="col">
            <a href="<%= teacher_challenge_path(challenge) %>" class="text-decoration-none">
              <div class="card h-100 shadow border-0 position-relative">
                <% if challenge.created_at >= 1.minutes.ago %>
                  <span class="badge rounded-pill bg-info text-dark position-absolute px-4" style="top: 10px; right: 10px;">New!</span>
                <% end %>
                <% if challenge.photo.attached? %>
                  <%= cl_image_tag challenge.photo.key, id: "challenge-card-image", class: 'card-img-top', style: 'max-height: 200px;' %>
                <% else %>
                  <%= image_tag 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1723567292/CHALLENGE_2_ytlzm2.jpg', alt: "challenge-card-image", class: 'card-img-top', style: 'max-height: 200px;' %>
                <% end %>
                <div class="card-body bg-white d-flex flex-column py-2 px-0">
                  <div class="container-fluid d-flex flex-column h-100">
                    <div class="d-flex flex-column justify-content-center">
                      <p class="text-muted fw-lighter mb-0">Topic</p>
                      <h5 class="card-title blue mb-4"><%= challenge.title %></h5>
                    </div>
                    <div class="mt-auto w-100">
                      <div class="d-flex align-items-center">
                        <i class="fa-solid fa-chalkboard-user text-muted"></i>
                        <span class="dark-gray ms-1"><%= challenge.classroom.name %></span>
                      </div>
                      <div class="d-flex align-items-center">
                        <i class="fa-regular fa-calendar-days text-muted"></i>
                        <span class="dark-gray dark-gray ms-2"><%= challenge.due_date.strftime("%B %d, %Y") %></span>
                      </div>
                      <% percentage = (challenge.submissions.count / challenge.classroom.attendances.count) * 100 %>
                      <div class="progress mt-4" style="height: 25px;">
                        <% if percentage == 0 %>
                          <div class="progress-bar bg-light dark-gray" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">No Submissions Yet</div>
                        <% elsif percentage == 100 %>
                          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100% Completed</div>
                        <% else %>
                          <div class="progress-bar bg-warning" role="progressbar" aria-label="Example with label" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"><%= percentage %>% Completed</div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <% unique_class.each do |classroom_name| %>
      <% safe_classroom_name = classroom_name.gsub(/\s+/, '-').gsub(/[^\w-]/, '') %>
      <div class="tab-pane fade" id="nav-profile-<%= safe_classroom_name %>" role="tabpanel" aria-labelledby="nav-profile-tab-<%= safe_classroom_name %>" tabindex="0">
        <!-- Content for each classroom's tab -->
        <div class="row row-cols-1 row-cols-md-4 g-4 my-5">
          <% @challenges.select { |c| c.classroom.name.gsub(/\s+/, '-').gsub(/[^\w-]/, '') == classroom_name }.each do |challenge| %>
            <div class="col">
              <a href="<%= teacher_challenge_path(challenge) %>" class="text-decoration-none">
                <div class="card h-100 shadow border-0">
                  <% if challenge.photo.attached? %>
                    <%= cl_image_tag challenge.photo.key, id: "challenge-card-image", class: 'card-img-top', style: 'max-height: 200px;' %>
                  <% else %>
                    <%= image_tag 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1723567292/CHALLENGE_2_ytlzm2.jpg', alt: "challenge-card-image", class: 'card-img-top', style: 'max-height: 200px;' %>
                  <% end %>
                  <div class="card-body bg-white d-flex flex-column py-2 px-0">
                    <div class="container-fluid d-flex flex-column h-100">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-muted fw-lighter mb-0">Topic</p>
                        <h5 class="card-title blue mb-4"><%= challenge.title %></h5>
                      </div>
                      <div class="mt-auto w-100">
                        <div class="d-flex align-items-center">
                          <i class="fa-solid fa-chalkboard-user text-muted"></i>
                          <span class="dark-gray ms-1"><%= classroom_name %></span>
                        </div>
                        <div class="d-flex align-items-center">
                          <i class="fa-regular fa-calendar-days text-muted"></i>
                          <span class="dark-gray dark-gray ms-2"><%= challenge.due_date.strftime("%B %d, %Y") %></span>
                        </div>
                        <% percentage = (challenge.submissions.count / challenge.classroom.attendances.count) * 100 %>
                        <div class="progress mt-4" style="height: 25px;">
                          <% if percentage == 0 %>
                            <div class="progress-bar bg-light dark-gray" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">No Submissions Yet</div>
                          <% elsif percentage == 100 %>
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100% Completed</div>
                          <% else %>
                            <div class="progress-bar bg-warning" role="progressbar" aria-label="Example with label" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"><%= percentage %>% Completed</div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
