<h1>PAGE - teacher/challenge/:id</h1>
<p><%= @challenge.title %> - <%= @challenge.due_date %></p>
<p class="mb-3">USER - <%= @challenge.user.first_name %></p>
<%= @challenge.classroom.name %>
<%= link_to "Edit", edit_teacher_challenge_path(@challenge) %>
<%= link_to "Challenges", teacher_challenges_path %>