<% unless [dashboard_teacher_challenges_path, new_teacher_challenge_path].include?(request.path) ||
           (request.path.match(%r{^/student/submissions/\d+/games/\d+})) %> <!--Need to do it like this if path needs and ID-->
<footer>
  <div class="container-fluid">
    <div class="row mt-2 p-4">
      <div class="col d-flex">
        <div class="col-8 align-self-end">
          <a href="<%= root_path %>">
            <% if current_user&.role == 'student' && !current_page?(root_path) %>
              <%= image_tag "logo/logo_yellow.svg", class: "img-fluid", style: "max-width: 200px;" %>
            <% else %>
              <%= image_tag "logo/logo_black.svg", class: "img-fluid", style: "max-width: 200px;" %>
            <% end %>
          </a>
          <p class="mb-0 <%= 'text-white' if current_user&.role == 'student' && !current_page?(root_path) %>">Copyright © 2024 Bunpofy. All rights reserved.</p>
        </div>
        <div class="col align-self-start d-none d-sm-inline">
          <h6 class="<%= 'text-white' if current_user&.role == 'student' && !current_page?(root_path) %>">RESOURCES</h6>
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about#contact-us">Contact Us</a></li>
            <li><a href="/#faqs">FAQs</a></li>
          </ul>
        </div>
        <div class="col align-self-start d-none d-sm-inline ms-2">
          <div class="d-flex flex-column align-items-start">
            <h6 class="<%= 'text-white' if current_user&.role == 'student' && !current_page?(root_path) %>">INFORMATION</h6>
            <a href="tel:305-240-9671">305-240-9671</a>
            <a href="mailto:info@company.com">contact@bunpofy.me</a>
            <button class="btn btn-secondary dropdown-toggle mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              English
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">日本語</button></li>
              <li><button class="dropdown-item" type="button">Chinese</button></li>
              <li><button class="dropdown-item" type="button">Korean</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<% end %>
