<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="index.html" class="logo">
            <%= image_tag "bunpofy_logo.PNG", alt: "bunpofy", style: "width: 200px; height: auto;" %>
          </a>
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#services">Features</a></li>
            <li class="scroll-to-section"><a href="#about">Resources</a></li>
            <li>
              <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "Home", "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Messages", "#", class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Action", "#", class: "dropdown-item" %>
                  <%= link_to "Another action", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="gradient-button align-right">
                <a href="<%= new_user_session_path %>" class="nav-link gradient-button"><i class="fa fa-sign-in-alt"></i> Sign In Now</a>
              </li>
            <% end %>
          </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
