<% if user_signed_in? %>
  <% if current_user.role == 'teacher' %> <!-- TEACHER NAVBAR-->
    <nav class="navbar navbar-light p-2">
      <div class="container-fluid">
        <a href="<%= root_path %>" class="navbar-brand">
          <%= image_tag "bunpofy_logo.PNG", alt: "bunpofy", class: "logo", style: "width: 160px;" %>
        </a>
        <div class="d-flex justify-content-center gap-2 text-white fs-6" style="font-weight: 200;">
          <a href="#" class="d-flex align-items-center text-decoration-none text-white" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-sm-inline navbar-name">
              <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> <i class="fa-solid fa-caret-down mx-2"></i>
            </span>
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1723303466/square_1_ubjhxl.png" class="avatar-img rounded-circle border ms-2" alt="dropdown menu" width="40" height="40">
          </a>
          <div class="dropdown-menu dropdown-menu-end me-5" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_teacher_challenges_path, class: "dropdown-item" %>
            <%= link_to "My Challenges", teacher_challenges_path, class: "dropdown-item" %>
            <%= link_to "Create Challenge", new_teacher_challenge_path , class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-warning" %>
          </div>
        </div>
      </div>
    </nav>
  <% elsif current_user.role == 'student' %> <!-- STUDENT NAVBAR-->
    <nav class="navbar navbar-light p-2">
      <div class="container-fluid">
        <a href="<%= root_path %>" class="navbar-brand">
          <%= image_tag "bunpofy_logo.PNG", alt: "bunpofy", class: "logo", style: "width: 160px;" %>
        </a>
        <div class="d-flex justify-content-center gap-2 text-white fs-6" style="font-weight: 200;">
          <a href="#" class="d-flex align-items-center text-decoration-none text-white" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-sm-inline navbar-name">
              <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> <i class="fa-solid fa-caret-down mx-2"></i>
            </span>
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1723303466/square_1_ubjhxl.png" class="avatar-img rounded-circle border ms-2" alt="dropdown menu" width="40" height="40">
          </a>
          <div class="dropdown-menu dropdown-menu-end me-5" aria-labelledby="navbarDropdown">
            <%= link_to "My Challenges", student_challenges_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-warning" %>
          </div>
        </div>
      </div>
    </nav>
  <% end %>
<% else %>
  <nav class="navbar navbar-light p-2">
    <!-- SIGNED OUT NAVBAR -->
    <div class="container-fluid">
      <a href="<%= root_path %>" class="navbar-brand">
        <%= image_tag "bunpofy_logo.PNG", alt: "bunpofy", class: "logo", style: "width: 160px;" %>
      </a>
      <div class="d-flex gap-4 text-white fs-6" style="font-weight: 200;">
        <a class="nav-link d-none d-sm-inline" href="#">About</a>
        <a class="nav-link d-none d-sm-inline" href="#">Contact Us</a>
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" style="cursor: pointer;">Login</a>
        <a class="nav-link nav-button rounded-pill px-3 text-dark" href="<%= new_user_registration_path %>"> Sign Up</a>
      </div>
    </div>
  </nav>
<% end %>
<%= render "devise/sessions/signin_modal" %> <!-- RENDER Sign in Modal (deivse >> sessions >> _signin_modal.html.erb)-->
