<nav class="navbar p-0 m-0 w-100" style="height:60px; z-index: 1;">
  <div class="container-fluid">
    <a href="<%= root_path %>" class="navbar-brand">
      <%= image_tag "bunpofy_logo.PNG", alt: "bunpofy", style: "width: 200px;" %>
    </a>
    <form class="d-flex align-items-center">
      <ul class="nav gap-2">
        <% if user_signed_in? %>
          <li><a href="#top" class="text-white">Home</a></li>
          <li><a href="#services" class="text-white">Features</a></li>
          <li><a href="#about" class="text-white">Resources</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://res.cloudinary.com/ddzvfukq6/image/upload/v1723270753/square_rnyl2j.png", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_teacher_challenges_path, class: "dropdown-item" %>
              <%= link_to "Create Challenge", new_teacher_challenge_path , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="gradient-button"><a href="<%= new_user_session_path %>"><i class="fa fa-sign-in-alt"></i> Sign In</a></li>
          <li class="gradient-button"><a href="<%= new_user_registration_path %>"><i class="fa fa-sign-in-alt"></i> Sign Up</a></li>
        <% end %>
      </ul>
    </form>
  </div>
</nav>
