<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
  <h1 class="display-4 mt-5">Our Team</h1>
  <p class="mb-0 mt-4 text-center">Meet our team of dedicated professionals who work tirelessly to meet your needs.</p>
  <p class="text-center">We are students from the Le Wagon Tokyo Bootcamp under the Web Development Course.</p>
  <div class="row mb-4 about-cards">
    <% team = [
      {name: 'Shingie Taira', job: 'Project Manager', image_url: 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1724818705/shingie_uhpk2i.jpg', github: 'https://github.com/super-shin', linkedin: 'https://www.linkedin.com/in/shingietaira/'},
      {name: 'Pedro Kogawa', job: 'Lead Developer', image_url: 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1724818902/ce2e0be9-ecbe-4eb6-9ef8-30b16dd40324.png', github: 'https://github.com/pedrokogawa', linkedin: 'https://www.linkedin.com/in/pedro-kogawa-4a8b87112/'},
      {name: 'Penn Junior Cho', job: 'Lead Developer', image_url: 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1724819490/b6676b02-7a4e-4202-b8ed-4274b909675b.png', github: 'https://github.com/pennjunior', linkedin: 'https://www.linkedin.com/in/junior-penn-cho-276781279/'},
      {name: 'Rei Zhang', job: 'Lead Developer', image_url: 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1724758211/350afe36-551e-490c-b682-147ec4fbee53.png', github: 'https://github.com/Mauoser', linkedin: 'https://www.linkedin.com/in/zenrei/'}
    ] %>
    <% team.each do |member| %>
      <div class="col-12 col-md-6 col-lg-3 my-4 d-flex justify-content-center about-card">
        <div class="card shadow d-flex flex-column bg-white border-0 p-4" style="min-height: 400px; min-width: 300px;">
          <div class="card-body d-flex flex-column justify-content-between text-center">
            <img src="<%= member[:image_url] %>" alt="<%= member[:name] %>" class="card-img-top rounded-circle mx-auto" style="width: 120px; height: 120px; object-fit: cover;">
            <div class="mt-3">
              <h5 class="card-title"><%= member[:name] %></h5>
              <p class="card-text dark-gray"><%= member[:job] %></p>
            </div>
            <div class="mt-3">
              <a href="<%= member[:github] %>" class="text-dark me-2" target="_blank">
                <i class="fab fa-github icon-hover fa-lg"></i>
              </a>
              <a href="<%= member[:linkedin] %>" class="text-dark me-2" target="_blank">
                <i class="fab fa-linkedin icon-hover fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container my-5 d-flex flex-column justify-content-center align-items-center" id="contact-us">
  <h1 class="display-4">Contact Us</h1>
  <p class="mb-4 text-center">If you have any questions or feedback, please reach out to us using the form below:</p>
  <form action="mailto:contact@bunpofy.me" method="post" enctype="text/plain" style="min-width: 75vw; min-height: 60vh;">
    <div class="row my-3">
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="Name:" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="Email:" class="form-control" required>
      </div>
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label">Subject</label>
      <input type="text" id="subject" name="Subject:" class="form-control">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea id="message" name="Message:" class="form-control" rows="4" required></textarea>
    </div>
    <div class="text-center mt-5">
      <button type="submit" class="btn btn-dark rounded-pill">Send Message</button>
    </div>
  </form>
</div>
