<% resource_name = :user %>
<% resource = User.new %>
<% resource_class = User %>
<% devise_mapping = Devise.mappings[:user] %>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-5">
      <div class="login-container">
        <div class="login-form-container">
          <div class="login-form-content">
            <h3 class="mb-5">Login</h3>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f| %>
              <div class="form-group">
                <%= f.input :email,
                      label: false,
                      placeholder: 'Username',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.input :password,
                      label: false,
                      placeholder: 'Password',
                      required: true,
                      input_html: { autocomplete: "current-password", class: 'form-control' } %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="form-group remember-me">
                  <%= f.input :remember_me, as: :boolean, label: 'Remember me', class: 'checkbox' %>
                </div>
              <% end %>
              <div class="forgot-password">
                <%= link_to "Forgot Password?", new_password_path(resource_name), class: 'forgot-pass' %>
              </div>
              <div class="form-actions mt-5 text-end">
                <%= f.button :submit, "Log In", class: 'btn-primary text-white rounded-pill px-5' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>