<!-- Modal -->
<div class="modal fade" id="feedbackModal-<%= "#{index}-#{user.id}-#{submission.id}" %>" tabindex="-1" aria-labelledby="feedbackModal-<%= "#{index}-#{user.id}-#{submission.id}" %>Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  style="min-width: 70vw">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h2 class="modal-title display-6" id="feedbackModal-<%= "#{index}-#{user.id}-#{submission.id}" %>Label">Give your Ninja a <span class="yellow">Feedback</span></h2>
      </div>
      <div class="modal-body">
        <%= simple_form_for @feedback, url: teacher_submission_feedbacks_path(submission), html: { id: "new_feedback-#{index}-#{user.id}-#{submission.id}" } do |f| %>
          <%= f.input :content, label: false, input_html: { style: 'min-height: 300px;', id: "feedback_content-#{index}-#{user.id}-#{submission.id}" } %>
          <%= f.button :submit, class: 'btn btn-primary text-white rounded-pill', input_html: { id: "feedback_content-#{index}-#{user.id}-#{submission.id}" }  %>
        <% end %>
      </div>
    </div>
  </div>
</div>