<!DOCTYPE html>
<html>
  <head>
    <title>Bunpofy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </head>
  <body>
    <%= render "shared/navbar2" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <% unless current_page?(dashboard_teacher_challenges_path) %>
      <footer class="mt-auto"><%= render "shared/footer" %></footer>
    <% end %>
  </body>
</html>
