<!DOCTYPE html>
<html>
  <head>
    <title>Bunpofy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Become a Grammar Ninja with BunpoFy! Master English grammar and composition with ninja-themed interactive challenges and tools designed for teachers and students in Japan.">
    <meta name="keywords" content="English grammar, interactive learning, educational tools, bunpofy, grammar ninja, Japanese culture, sentence assessment, quizzes, ICT, textbooks, ESL">
    <meta name="author" content="Bunpofy Team">
    <meta property="og:title" content="BunpoFy: Master English Grammar with Ninja Precision">
    <meta property="og:description" content="Transform English education with BunpoFy's ninja-themed interactive challenges, innovative tools, and engaging learning experiences. Perfect for teachers and students!">
    <meta property="og:image" content="https://res.cloudinary.com/ddzvfukq6/image/upload/v1723716038/784f6c4a-8fc7-4f2b-9ff5-c85af50010ca.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.bunpofy.me">
    <meta name="robots" content="index, follow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </head>
  <body class="<%= params[:controller].start_with?('student') ? 'body-student' : 'body-teacher' %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div style="min-height: 92vh;"><%= yield %></div>
    <%= render "shared/footer" %>
  </body>
</html>
